{% extends 'layout2.html' %}
{% load staticfiles %}

{% block title %}Вопрос-ответ{% endblock %}


{% block breadcrumbs %}
    {{ block.super }} <li class="current"><span>Вопрос-ответ</span></li>
{% endblock %}

{% block content %}

    <div class="content">

      <div class="blc_heading">
        <h1><span>Вопрос-ответ</span></h1>
      </div>

      <div class="blc_faq">
              {% for item in object_list %}
        <div class="item">
          <div class="question">
                  <div class="author">{{ item.name }}</div>
            <div class="inner" style="float:left; margin-left: 40px">
                    <p>{{ item.question }}</p>
              <div class="controls controls-collapse"><a href="#">Читать ответ</a></div>
            </div>
                    <div style="clear:both"></div>
          </div>
          <div class="answer">
            <div class="title"><a href="#">Ответ:</a></div>
            <div class="inner">{{ item.answer }}</div>
            <div class="controls"><a href="#">Свернуть ответ</a></div>
          </div>
        </div>
                {% endfor %}
      </div>
      <!-- /blc_faq -->

<script>
        $('.blc_faq .item .controls').click(function(e){
                e.preventDefault();
                $(this).closest('.item').toggleClass('active');
        });
</script>

      {% include 'paginator.html' %}
      {% include 'feedback_form2.html' %}
    </div>
    
    <div class="clear"></div>
  </div>

{% endblock %}
