{% extends 'layout2.html'%}
{% load staticfiles %}

{% block breadcrumbs %}
{{ block.super }}
<li class="current"><a href="/gallery">Галерея</a></li>
<li class="current"><span>{{ object.gallery.name }} ({{ object.name }})</span></li>
{% endblock %}

{% block content %}
<style>
.modal_gallery .album { position: relative;}
.modal_gallery .album a {
        display: block;
        position: absolute;
        background-repeat: no-repeat;
        background-position: -150% 50%;
        width: 50px;
        height: 100%;
        top:0;
}
.modal_gallery .album a:hover {  background-color: rgba(224, 224, 224, 0.4); background-position: 50% 50%;}
.modal_gallery .album a, .modal_gallery .album a:hover, .modal_gallery .album a:focus, .modal_gallery .album a:active {  outline:none;}
        
.modal_gallery .album a.prev {
        left:0;
        background-image: url('/static/img/arr-l.png');
}
.modal_gallery .album a.next {
        right:0;
        background-image: url('/static/img/arr-r.png');
}

/*.modal_gallery .popup {margin: -315px auto 0}*/
.modal_gallery .popup .close {
  background-image: url("/static/img/i_close.png");
  display: block;
  height: 16px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 16px;
}
</style>


    <div class="content">

      <div class="blc_heading">
              <h1><span>{{ object.name }}</span></h1>
      </div>

      <div class="blc_gallery">
              <div class="image"><a href="#"><img src="{{ MEDIA_URL }}{{ object.photos.first.img }}" alt="{{ object.photos.first.name }}" data-count="0" width="486" height="365"></a></div>
        
        <div class="thumbs">
          <div class="node" style="overflow: hidden">
            <ul>
              {% for img in object.photos.all %}
              <li><a href="#"><img src="{{ MEDIA_URL }}{{ img.img }}" alt="{{ img.name }}" data-count="{{ forloop.counter0 }}" width="165" height="123"></a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="navi">
            <a href="#" class="next"></a>
            <a href="#" class="prev"></a>
          </div>
        </div>
      </div>
      <!-- /blc_gallery -->

      <div class="blc_text no-bg">
        <div class="title"></div>
        <div class="entry">{% autoescape off %}{{ object.text }}{% endautoescape %}
      </div>
      <!-- /blc_text -->

    </div>
    
    <div class="clear"></div>
  </div>


<div class="modal modal_gallery">
  <a href="#" class="close"></a>
  <div class="splash"></div>
  <div class="popup">
    <div class="intro">
      <a href="#" class="close"></a>
      <div class="head"><span></span></div>
      <div class="album">
              <a href="#" class="next"></a>
              <a href="#" class="prev"></a>
              <img src="" alt="">
      </div>
    </div>
  </div>
</div>
<script>
var sliderPhotoCount = {{ object.photos.count }};


function prevNextImg(obj, offset)
{
        var count = parseInt(obj.closest('.album').find('img').attr('data-count'));
        var a = $('.blc_gallery .node a')[count + offset];

        var mg = $('.modal_gallery');
        var img = $(a).find('img');
        mg.find('img').attr('src', img.attr('src'));
        mg.find('img').attr('data-count', img.attr('data-count'));
        mg.find('div.head span').text(img.attr('alt'));
}

$('.modal_gallery .prev').click(function(){
        prevNextImg($(this), -1);
});

$('.modal_gallery .next').click(function(){
        prevNextImg($(this), 1);
});
</script>
{% endblock %}
