{% extends 'layout2.html' %}
{% load staticfiles %}
{% block breadcrumbs %}
    {{ block.super }} <li class="current"><span>Галерея</span></li>
{% endblock %}
{% block content %}
    <div class="content">

      <div class="blc_heading">
        <h1><span>Галерея Заповедника</span></h1>
      </div>

      <div class="blc_items">
                {% for gallery in object_list %}
        <div class="item">
                <div class="image"><img src="{{ MEDIA_URL }}{{ gallery.albums.first.photos.first.img }}" alt="" width="191" height="137"></div>
          <div class="inner">
                  <div class="tit">{{ gallery.name }}</div>
            <div class="categories">
              <ul>
                      {% for item in gallery.albums.all %}
                      <li><a href="{% url 'album' item.id %}">{{ item.name }}</a></li>
                      {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
      <!-- /blc_items -->

        {% include 'seo_bottom_text_block.html' with without_bg=True %}


    </div>
    
    <div class="clear"></div>
  </div>
{% endblock %}
