{% extends 'layout2.html' %}
{% load staticfiles %}
{% block breadcrumbs %}
    {{ block.super }} <li class="current"><span>Библиотека</span></li>
{% endblock %}
{% block content %}
    <div class="content">

      <div class="blc_heading">
              <h1><span>{{ object.name }}</span></h1>
      </div>

      <div class="blc_library">
              {% for item in object.rubrics.all %}

        <div class="item">
                <div class="title">{{ item.name }}</div>
          <ul>
                  {% for book in item.books.all %}
                  <li><a href="{% static book.file %}">{{ book.name }}</a></li>
                  {% endfor %}
          </ul>
        </div>
                {% endfor %}
      </div>
      <!-- /blc_library -->


{% include 'seo_bottom_text_block.html' with without_bg=True %}

    </div>
    
    <div class="clear"></div>
  </div>
{% endblock %}
