<style>
.done-error, .done-success {display: none;}
</style>

<form class="modal modal_ask modal_form" id="ask_form">
  <div class="splash"></div>
  <div class="popup">
    <div class="intro">
      <a href="#" class="close"></a>
      <div class="tit"><span>Задать вопрос</span></div>
      <div class="forms">
        <div class="inner">
        <div class="item done-error">
                <div class="alert alert-danger" style="margin-right: 20px;">
                Вы не заполнили обязательное поле
                </div>
        </div>
                {% for field in feedback_form %}
                        <div class="item">
                                {{ field.errors }}
                                {{ field }}
                        </div>
                {% endfor %}
          <div class="item item_important"><em>*</em> поля, обязательные для заполнения</div>
          <div class="item item_button">
            <div id="sent-feedback" class="button"><a href="#">Отправить</a></div>
          </div>
        </div>
        <div class="done-success">
                <div class="alert alert-success" style="margin: 0 20px;">
                Ваш вопрос успешно отправлен
                </div>
        </div>
      </div>
    </div>
  </div>
</form>

<script>
$('#sent-feedback').click(function() {
        var form = $(this).closest('form');
        var formData = {url: window.location.href};
        form.find(':input').each(function(k, v){
               formData[v.name] = v.value; 
       });

        $.ajax({
                url: '{% url 'api_dispatch_list' api_name='v1' resource_name='feedback' %}',
                type: 'post',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(formData),
                statusCode: {
                        201: function(){
                                form.find('.done-success').show();
                                form.find('.done-error').hide();
                                form.find('.inner').hide();
                                setTimeout(function(){
                                        form.hide().trigger('reset');
                                }, 2000);
                        },
                        400: function(s, d){
                                form.find('.done-error').show();
                        }
                },
        });
});
</script>

