{% extends 'base.html' %}
{% load pymorphy_tags %}
{% block layout %}
<div id="inside">
  <div class="fix">

    <div class="sidebar">
        {% if eco_tours_sidebar %}
      <div class="wdt_events">
        <div class="head">Эко-туры</div>
        {% for item in eco_tours_sidebar %}
        <div class="item">
                <div class="inner"><a href="{% url 'tour_item' item.pk %}">{{ item.name }}</a></div>
        </div>
        {% endfor %}
      </div>
      <!-- /wdt_events -->
      {% endif %}
    {% if library %}
      <div class="wdt_menu">
        <div class="title">Библиотека</div>
        <ul>
                {% for item in libraries %}
                <li><a href="{% url 'library' item.id %}">{{ item.name }}</a></li>
                {% endfor %}
        </ul>
      </div>
    {% endif %}
      <div class="wdt_events">
        <div class="head">Ближайшие события</div>
        {% for item in events %}
        <div class="item">
                <div class="date feature"><span>{{ item.get_near_date|date:'j F'|inflect:'рд' }}</span></div>
          <div class="inner"><a href="#">{{ item.name }}</a></div>
        </div>
        {% endfor %}
      </div>
      <!-- /wdt_events -->
        {% if feedbacks %}
      <div class="wdt_review">
              <div class="head">Отвечаем на вопросы</div>
              {% for item in feedbacks %}
        <div class="item">
          <div class="meta">
                  <div class="quest">{{ item.question }}</div>
          </div>
                  <div class="name">{{ item.name }}</div>
                  <div class="clearfix"></div>
          <div class="desc"><p>{{ item.answer }}</p></div>
  </div>

        {% endfor %}

      </div>

      {% endif %}
    </div>

    {% block content %}{% endblock %}
    
    <div class="clear"></div>
  </div>
</div>
{% endblock %}
