<div class="blc_paginator">
<ul>
{% if page_obj.has_previous %}<li class="prev"><a href="?page={{ page_obj.previous_page_number }}"></a></li>{% endif %}
{% for page_number in paginator.page_range %}
{% if page_obj.number == page_number %}
        <li><span>{{ page_number }}</span></li>
{% else %}
        <li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
{% endif %}
{% endfor %}
{% if page_obj.has_next %}<li class="next"><a href="?page={{ page_obj.next_page_number }}"></a></li>{% endif %}
</ul>
</div>
<!-- /blc_paginator -->

