{% load staticfiles %}
<script src="{% static 'js/jquery.slides.min.js' %}"></script>
<style>
        #slides {display: none; width: 976px }
#slides .slidesjs-navigation {
      margin-top:3px;
    }

    #slides .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }

    #slides .slidesjs-next {
      margin-right: 5px;
      float: left;
    }

    .slidesjs-pagination {
      float: right;
      bottom: 51px;
      left: 50%;
      position: absolute;
      width: 112px;
      z-index: 10;
      list-style: none outside none;
      margin: 20px 0;
      padding-left: 0;
      text-align: center;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 16px;
      height: 18px;
      padding-top: 13px;
      background: url({% static 'img/radio.png' %}) no-repeat scroll -27px 0 rgba(0, 0, 0, 0);
      float: left;
      overflow: hidden;
      margin-right: 11px;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 0
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 0 
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }
    
    .slidesjs-previous {
    left: 0;
    display: block;
    height: 83px;
    position: absolute;
    top: 85px;
    width: 20px;
    }
    .slidesjs-next {
    display: block;
    height: 83px;
    position: absolute;
    top: 85px;
    right:0;
    width: 20px;
    }

</style>

<div class="blc_slider" >

<div class="inner">
<div class="slider">
        <div class="item" id="slides">
                {% for item in slides %}
                <img src="{{ MEDIA_URL }}{{ item.img }}" alt="">
                {% endfor %}
        </div>
</div>
</div>
</div>

<script>
$(function(){
        $('#slides').slidesjs({
                width: 976,
                height: 237,
                play: {
                        interval: 5000,
                        auto: true
                }
        });
});
</script>
